.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj

# Rproject files
*_KEY.Rmd
*_KEY_2024.Rmd
*_KEY.pdf
*_KEY_2024.pdf
*_FIXED.Rmd
*_TOPOST/
*_TOPOST.Rmd
*_TODELETE.Rmd
*_NOPOST.xlsx
*_NOPOST.Rmd
*_Complete.Rmd
*_Completed.Rmd
*_Complete.pdf
*_Completed.pdf